body {
	background-color: #808080;
	color: white;
}

img {
	width: 100%;
}

svg {
	width: 100%;
}

.aniBack {
	background-color: black;
}

.aniBack img {
	width: 100%;
}

.rollo{
	//width: 100%;
	min-height: 100vh;
	background: url(../img/bobobo.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mains {
	background-color: black;
	//margin-top: 5vh;
	/* background-image: url(../img/aniBoy.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	width: 100%; */
	//min-height: 100vh;

	/**position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;**/

}

.last {
	margin-top: 5vh;
	background-image: url(../img/SVG/volk.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	min-height: 90vh;

}
.mission {
	//margin-top: 5vh;
	font-size: 24px;
	color: #808080;

}

.mission div  {
	min-height: 80vh;
	text-align: center;
	background-image: url(../img/SVG/drop.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	margin-top: 10vh;
}

.mission div:first-child{
	margin-top: 10vh;
}

.mission div:last-child{
	margin-bottom: 10vh;
}
.mission div p{
	padding-top: 100%;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
}


	/* The only rule that matters */
#video-background {
/*  making the video fullscreen */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/*body {
	//margin-top: 5vh;
	background-image: url(../img/aniBoy.gif);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
	background-position-y: center;
	width: 100%;
	min-height: 100vh;
}*/