body {
	background-color: #808080;
	color: white;
}

img {
	width: 100%;
}

.mains {
	margin-top: 5vh;
	background-image: url(../img/SVG/sayItAgain.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	width: 100%;
	min-height: 90vh;

}

.last {
	margin-top: 5vh;
	background-image: url(../img/SVG/volk.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	min-height: 90vh;

}
.mission {
	margin-top: 5vh;
	font-size: 24px;
}
