body {
	background-color: #808080;
	color: white;
}

img {
	width: 100%;
}

.mains {
	margin-top: 5vh;
	background-image: url(../img/SVG/sayItAgain.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	min-height: 90vh;

}

.lasts {
	margin-top: 5vh;
	background-image: url(../img/SVG/volk.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	min-height: 90vh;

}
.mission {
	margin-top: 5vh;
}